<script src="https://maps.googleapis.com/maps/api/js"></script> <!-- lataa kirjastot: eli Google Maps API. Normaalisti API key liitetään pyyntöön, nyt sitä ei ole -->
<script src="/FrontEnd/lib/my_script.js"></script> <!-- oma skripti, jossa tehdään juttuja paikkatiedolle -->
<div class="map_container">
	<h3>Your current location:</h3>
	<div id="my_map" style="width:500px;height:380px;"></div> <!-- määriteltävä piirtoelementti, annetaan leveys ja korkeus. VAADITAAN -->
    <!-- 20.1.2016 -->
    <input type="text" placeholder="address,city" id="osoite"/><br/>
    <input type="button" value="Get Map" id="getBtn">
</div>